name: Continuous Integration

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true

    - name: Lint
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: Format
      run: cargo fmt --all -- --check

    - name: Build
      run: cargo build --all-targets

    - name: Test
      run: cargo test --all

